<ul
  class="
    d-flex
    justify-content-around
    align-items-center
    w-75
    m-auto
    list-unstyled
    py-3
    bg-dark
  "
>
  <li>
    <a routerLink="./">Home</a>
  </li>
  <li>
    <a routerLink="./islamic">Islamic calendar</a>
  </li>
  <li>
    <a routerLink="./datepicker">Basic datepicker</a>
  </li>
  <li>
    <a routerLink="./datepicker-popup">Basic datepicker</a>
  </li>
  <li>
    <a routerLink="./accordion">Accordion</a>
  </li>
  <li>
    <a routerLink="./modal">Modal</a>
  </li>
  <li>
    <a routerLink="./type">Typeahead</a>
  </li>
</ul>
